<h1>Listing snaikes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Colour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snaikes.each do |snaike| %>
  <tr>
    <td><%= snaike.name %></td>
    <td style="background-color:<%= snaike.colour %>"><%= snaike.colour %></td>
    <td><%= link_to 'Show', snaike %></td>
    <td><%= link_to 'Edit', edit_snaike_path(snaike) %></td>
    <td><%= link_to 'Destroy', snaike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snaike', new_snaike_path %>
